html, body {
    max-width: 100%;
    overflow-x: hidden;
}

::-moz-selection { background: #00B1FF; color: white}
::selection { background: #00B1FF; color: white}

* {
    margin: 0;
    padding: 0;
}

.hover {
-webkit-user-select: none;
-webkit-touch-callout: none;
}

/*------------------------------------------Fonts---*/

/** Bold */
@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf");
}

/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

body {
  font-family: "SF Display", -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
  color: #515357;
}

h1 {
  font-weight: 700;
  font-size: 5em;
}

h2 {
  font-weight: 100;
  line-height: 140%;
  font-size: 2em;
}

span {
  opacity: 0.6;
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1em;
}

h4 {
  font-size: 0.9em;
  color: #8B8B8B;
}

h5 {
  font-weight: 700;
  font-size: 2.6em !important;
}

h6 {
  font-weight: 100;
  opacity: 0.8;
  font-size: 1.45em !important;
  padding-right: 25px;
  line-height: 155%
}

p {
  color: #8B8B8B;
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #3B3B3B;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

a:hover {
  text-decoration:none;
  color: #00B1FF;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

a:hover_effect {
  text-decoration:none;
  color: #00B1FF;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.commentary ul {
  padding-left: 30px;
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
  color: #8B8B8B;
}

/*------------------------------------------Navbar---*/

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #00B1FF;
}

.navbar-default .navbar-nav > li > a:hover_effect {
  color: #00B1FF;
}

.navbar {
  background-color: rgba(0,0,0,0.8);
  border-radius: 0px;
  border-width: 0px;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.navbar .container{
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}

button {
  position: relative;
  top: 3px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.05em;
}

header li {
  float: right;
  display: inline;
}

#gone {
  opacity: 0;
}

/*------------------------------------------Jumbotron---*/
.jumbotron {
  padding: 100px;
  background-color: white;
}

.descriptor {
  padding-left: 0%;
  padding-right: 32%;
  padding-top: 10%;
  padding-bottom: 10%;
}

/*------------------------------------------Project---*/

video {
  margin-top: 50px;
  width: 480px;
  height: 720px;
}

.overview {
  margin-bottom: -150px;
  margin-top: 20px;
}

.br {
  padding: 2px;
  background-color: #00B1FF;
}

.project {
  background-color: #FDFDFD;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-top: -30px;
}

#quote {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  margin-top: -30px;
}

#quote h2 {
  font-size: 2.4em;
}

.commentary {
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#copy h2 {
  text-align: center;
  font-size: 1.6em;
}

img {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  margin: auto;
}

#phone {
    max-width: 630px;
}

/*------------------------------------------Read More---*/

.read-more {
  position: relative;
  text-decoration: none;
  cursor: text;
}

.read-more .trigger {
  display: block;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  font-weight: bold;
}

.read-more .content {
  position: relative;
  overflow: hidden;
  max-height: 200px;
  transition: max-height 1200ms ease;
}

.read-more .content::before {
  content: '';
  background: linear-gradient(to bottom, rgba(253, 253, 253, 0) 0%, rgba(253, 253, 253, 1) 50%, rgba(253, 253, 253, 1) 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  transition: opacity 1200ms ease, visibility 1200ms ease;
}

.read-more.expanded .content {
  max-height: 600px;
}

.read-more.expanded .content::before, .read-more.expanded .trigger {
  opacity: 0;
  visibility: hidden;
}





/*-----------------------------Project Navigation---*/

.nextproject {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nextproject h3 {
  margin-bottom: -35px;
  font-size: 0.9em;
}


.glyphicon-triangle-left {
  position: relative;
  top: 2px;
  -webkit-transform: translate(0px, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transform: translate(0px, 0);
  -moz-transition: -moz-transform 0.2s ease;
  transform: translate(0px, 0);
  transition: transform 0.2s ease;
}
.glyphicon-triangle-right {
  position: relative;
  top: 2px;
  -webkit-transform: translate(0px, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transform: translate(0px, 0);
  -moz-transition: -moz-transform 0.2s ease;
  transform: translate(0px, 0);
  transition: transform 0.2s ease;
}

#bottom .pull-left {
  position: relative;
  -webkit-transform: translate(0px, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transform: translate(0px, 0);
  -moz-transition: -moz-transform 0.2s ease;
  transform: translate(0px, 0);
  transition: transform 0.2s ease;
}

#bottom .pull-left:hover  {
  position: relative;
  -webkit-transform: translate(-4px, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transform: translate(-4px, 0);
  -moz-transition: -moz-transform 0.2s ease;
  transform: translate(-4px, 0);
  transition: transform 0.2s ease;
}

.pull-left:hover .glyphicon {
  position: relative;
  -webkit-transform: translate(-8px, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transform: translate(-8px, 0);
  -moz-transition: -moz-transform 0.2s ease;
  transform: translate(-8px, 0);
  transition: transform 0.2s ease;
}

#bottom .pull-right {
  text-align: right;
  -webkit-transform: translate(0px, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transform: translate(0px, 0);
  -moz-transition: -moz-transform 0.2s ease;
  transform: translate(0px, 0);
  transition: transform 0.2s ease;
}

#bottom .pull-right:hover {
  position: relative;
  left: 4px;
  -webkit-transform: translate(4px, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transform: translate(4px, 0);
  -moz-transition: -moz-transform 0.2s ease;
  transform: translate(4px, 0);
  transition: transform 0.2s ease;
}

.pull-right:hover .glyphicon {
  position: relative;
  -webkit-transform: translate(8px, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transform: translate(8px, 0);
  -moz-transition: -moz-transform 0.2s ease;
  transform: translate(8px, 0);
  transition: transform 0.2s ease;
}


/*------------------------------------------Footer---*/
footer {
  background-color: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

#social {
  float: right;
}

@media(max-width: 991px){

  .navbar .container {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .decor {
    position: relative;
    top: 120px !important;
  }

  .decor p {
    height: 190px;
    line-height: 20px;
    position: relative;
    top: -260px;
  }

  #quote {
    margin-bottom: 125px;
  }

}

@media(max-width: 767px){

  .navbar .container {
    padding-right: 15px !important;
    padding-left: 35px !important;
  }

  .commentary {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 20px;
  padding-bottom: 20px;
  }


}

@media(max-width: 720px){

  h1 {
    font-weight: 700;
    font-size: 3.2em;
  }

  h2 {
    font-weight: 200;
    line-height: 120%;
    font-size: 1.7em;
  }

  .navbar .container{
    padding-right: 15px;
    padding-left: 33px;
  }

  .project .container{
    margin: 1%;
  }

  .jumbotron {
    padding: 15% 0px 10% 0px;
  }

  .decor {
    position: relative;
    top: 120px !important;
  }

  .decor p {
    height: 190px;
    line-height: 20px;
    position: relative;
    top: -260px;
  }

  .overview {
  margin-bottom: -140px;
  margin-top: 20px;
  }

  .descriptor {
    padding-top: 10%;
    padding-bottom: 10%;
  }

}

@media(max-width: 662px){

  .decor p {
    top: -200px !important;
    font-size: 10em !important;
  }

  .commentary {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
 }

 video {
   width: 360px;
   height: 540px;
 }
}


@media(max-width: 412px){

  .decor p {
    font-size: 8em !important;
    top: -280px !important;
  }

  #quote h2 {
    font-size: 2.0em;
  }

  #quote {
    padding-left: 10px;
    padding-right: 10px;
  }

  img {
    width: 100%;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .commentary {
  padding-left: 0%;
  padding-right: 0%;
 }

}

@media (max-width: 350px) {
  video {
    width: 288px;
    height: 432px;
  }
}
